#hud {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 0;
    width: 100vw;
    height: 15vh;
    border: 1px solid black;
    box-sizing: border-box;
}

#hud div {
    margin: 0 auto;
    height: 100%;
}

.card {
    display: inline-block;
    margin: 0 2px;
    height: 100%;
    width: auto;
    text-align: center;
}

.card:hover {
    cursor: pointer;
    border: 2px dashed red;
    box-sizing: border-box;
    background-color: black;
}

#nav {
    background-color: yellow;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 8vw;
    left: 0;
    top: 0;
}

#nav div {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav div * {
    margin: 2px;
    width: 75%;
    height: auto;
    cursor: pointer;
}